@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    background: linear-gradient(90deg, rgba(255, 176, 115, 1) 0%, rgba(255, 188, 188, 1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    transition: 0.3s ease-in-out;
}

a:hover {
    opacity: 0.6;
}

#wrapper div {
    color: rgb(36, 36, 36);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    animation: fadein 0.5s;
}

#search {
    outline: none;
    border: none;
    animation: fadein 0.5s;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
}

.image {
    width: 150px;
    background: rgb(235, 235, 235);
    border-radius: 100%;
    -webkit-user-drag: none;
}

.id {
    background: rgb(235, 235, 235);
    border-radius: 20px;
    padding: 4px;
    margin-top: 20px;
}

.name {
    margin-top: 5px;
}

.type {
    margin-top: 5px;
    font-weight: 500;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}